<template name="home">
  <!-- shorten url -->
  <div class="container">
    <form class="shorten-url-form">
      <div class="form-group">
        <input type="text" class="form-control" id="longUrl" name="longUrl" placeholder="Paste your long URL here">
      </div>
      <button type="submit" class="btn btn-primary">Shorten URL</button>
    </form>
  </div>
  <!-- urls -->
  <table class="table table-hover">
    {{#if urls}}
      <thead>
        <tr>
          <th>Long Url</th>
          <th>CreatedAt</th>
          <th>Short Url</th>
        </tr>
      </thead>
    {{/if}}
    {{#each urls}}
      <tbody>
        <tr>
          <td>{{longUrl}}</td>
          <td>{{formatDate createdAt}}</td>
          <td>{{_id}}</td>
        </tr>
      </tbody>
    {{else}}
      <tr>
        <td rowspan="3">You have no shortened Urls</td>
      </tr>
    {{/each}}
  </table>
</template>